.DigitalMarketingLandingPortfolioPart{
  background-color: #fafafa;
padding: 5vh 0;
}
.DigitalMarketingLandingPortfolioPart h3{
  font-size: 1.8rem;
  color: var(--main-color);
  font-weight: 500;
}
.DigitalMarketingLandingPortfolioPart .work {
  width:29vw !important ;
  /* height: 300px !important; */
}
.DigitalMarketingLandingPortfolioPart  .AllWorks .work{
border-radius: 0px;
}
.DigitalMarketingLandingPortfolioPart .t-swiper{
  width: 90vw !important;
}

@media (max-width:768px) {
.DigitalMarketingLandingPortfolioPart .work {
 width: 85vw !important; 
}
}
 