.HeroSection {
  background-color: #fff !important;
  background: url("../../../Images/hero-section.png") no-repeat;
  background-position: center;
  background-size: cover;
  height: 100dvh;

}


.HeroSection .content{
  width: 100%;
 height: 70%;
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
 gap: 20px;
 color: #fff;
}
.HeroSection .content h1{
  font-size:2.5rem;
  letter-spacing: 2px;
}
.HeroSection .content p{
font-size: 1.2rem;
font-weight: 400;
letter-spacing: 1px;
color: #fff;
text-align: center;
opacity: 0.8;
padding: 10px;
}
.HeroSection .content .link{
  color:#0D0D0D;
  background-color: var(--main-color);
  width: 200px;
  padding: 10px;
  font-size: 1.1rem;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-position 0.2s, background-size 0.2s;
  border-radius: 10px;
}
@media (max-width:768px){
.HeroSection {
background-size: cover;
/* background-position: ; */
}
  .HeroSection .content h1{
    white-space: pre-wrap;
    text-align: center;
    font-size: 2.3rem;
    padding: 0 5vw;
  }
  .HeroSection .content .link{
    width: 65vw;
  }
}
@media (max-width:480px){
  .HeroSection .content h1{
    white-space: pre-wrap;
    text-align: center;
    font-size: 1.8rem;
    padding: 0 5vw;
  }
  .HeroSection .content .link{
    width: 65vw;
  }
}