.BookNow {
  background-color: #fafafa;
}
.BookNow .text h3 {
  font-size: 1.8rem;
  color: var(--main-color);
  font-weight: 500;
}
.BookNow .text p {
  font-size: 1rem;
  color: #7b8190;
  max-width: 60%;
  margin-top: 10px;
}
.BookNow form {
  flex: 1;
  margin-top: 30px;
}

.BookNow form .input-field {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  position: relative;
  overflow: hidden;
  flex-wrap: wrap;
  padding: 10px 20px;
  box-shadow: 0 0 3px #a7a7a7;
  border-radius: 10px;
}
.BookNow form .input-field .icon{
  color: var(--text-color);
}
.BookNow form .input-field input,
.BookNow form .input-field select,
.BookNow form .input-field textarea {
  /* width: 100%; */
  flex: 1;
  padding: 10px;
  color: var(--text-color);
  outline: none;
  background-color: transparent;
  color:gray;
}

.BookNow form button{
  color: #fff;
  background-color: var(--main-color);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  width: 250px;
  padding: 15px;
  border-radius: 2px;
  margin-top: 5vh;
}
@media (max-width: 768px) {
.BookNow form button{
  width: 100%;

}
  .BookNow .flex{
    flex-direction: column-reverse;
  }
  .BookNow form {
  }
  .BookNow form .input-field {
    width: 100%;
  }
.BookNow .text p {
max-width: 100%;
}
}