.PhaseDevelopment{
   background:#FAFAFA;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 7vw;
}
.PhaseDevelopment .images{
  position: relative;
  padding: 15vh 0;
}
.PhaseDevelopment .images::before{
  content: "";
  position: absolute;
  top: 0 ; left: 0;
  height: 100%;
  background-color: #F6f6f6;
  width: 90%;
  z-index: -1;
}
.PhaseDevelopment .images .cards{
display: flex;
justify-content: start;
align-items: center;
flex-direction: row-reverse;
gap: 20px;
cursor: pointer;
transition: 0.9s ease-out;
will-change: transform;

}
.PhaseDevelopment .images .cards .card{
  width: 200px;
}
.PhaseDevelopment .images .cards:hover{
  transform: translateX(-20px);
  opacity: 0.9;
}
.PhaseDevelopment .content h5{
  color: var(--text-color);
  font-size: 1.1rem;
}
.PhaseDevelopment .content h3{
  color: var(--main-color);
  font-size: 1.8rem;
  letter-spacing: 1px;
  margin-top: 15px;
}
.PhaseDevelopment .content p{
  color: var(--text-color);
  font-size: 0.9rem;
  margin-top: 15px;
}
.PhaseDevelopment .content ul{
  /* padding: 20px 30px; */
}
.PhaseDevelopment .content ul li{
  margin-top: 15px;
  list-style:disc ;
}
.PhaseDevelopment .content .links{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.PhaseDevelopment .content .links .link{
  color: var(--text-color);
  width: 250px;
  padding: 15px;
  border: 1px solid var(--main-color);
  margin-top: 20px;
  text-align: center;
  display: inline-block;
}


@media (max-width: 992px){
  .PhaseDevelopment{
   flex-direction: column;
   gap: 10px;
  }
  .PhaseDevelopment .content{
    padding: 0 3vw;
  }
  .PhaseDevelopment .content .links{
    justify-content: center;
  }
  .PhaseDevelopment .content .links .link{
    flex: 1 !important;
    width: max-content;
    border-radius: 4px;
    font-size: 0.9rem;
    padding: 10px 0;
  }
  .PhaseDevelopment .images{
    padding: 10px 0;
  }
}