.OurLatestStudios{
  background-color: #fafafa;
  display: flex;
  justify-content: start;
  align-items: start;
  gap: 5vw;
}
.OurLatestStudios .text h3{
  font-size: 1.7rem;
  font-weight: 500;
  color: var(--main-color);

}
.OurLatestStudios .text p{
  font-size: 1rem;
  margin-top: 10px;
  color: var(--text-color);
  max-width: 380px;
}

.OurLatestStudios .text .link{
  width: 240px;
  text-align: center;
  padding: 15px;
  background-color: var(--main-color);
  color:#fff;
  margin-top: 30px;
  display: inline-block;
  transition: 0.4s;
  border: 1px solid var(--main-color);
}
.OurLatestStudios .text .link:hover{
background-color: #fafafa;
color: var(--main-color);
}
.OurLatestStudios .text .images{
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  flex: 1;
}
.OurLatestStudios .images .top ,.OurLatestStudios .images .down {
  display: flex;
  justify-content: start;
  align-items: start;
  gap: 10px;
}
.OurLatestStudios .images .down{
  margin-top: 10px;
}
.OurLatestStudios .images .top img ,.OurLatestStudios .images .down img{
  width: 100%;
  height: 100%;
  object-fit: cover;

}
.OurLatestStudios .images .top .img:first-child{
width: 30%;
height: 40vh;
}
.OurLatestStudios .images .top .img:last-child{
  height: 40vh;
flex: 1;
}

.OurLatestStudios .images .down .img:nth-child(2) ,.OurLatestStudios .images .down .img:nth-child(3) {
 width: 25%;
 height: 40vh;
}
.OurLatestStudios .images .down .img:first-child{
  height: 40vh;
  flex: 1;
}

@media (max-width:768px){
.OurLatestStudios{
flex-direction: column;

}
}