/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
/* roots */
:root{
  --main-color: #CBB434;
  --bg-color:#15182b;
  --text-color:#636572;
}
/* Global */

@tailwind base;
@tailwind components;
@tailwind utilities;
body{
  background-color: var(--bg-color);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.btn{
  color: var(--text-color);
  width: 250px;
  padding: 15px;
  border: 1px solid var(--main-color);
  margin-top: 20px;
  text-align: center;
  display: inline-block;
}

::-webkit-scrollbar{
  width: 10px;
  height: 10px;
 }
 ::-webkit-scrollbar-track{
  background: #fff;
  /* border-radius: 6px; */
 }
 ::-webkit-scrollbar-thumb{
  background:var(--main-color);
  /* border-radius: 6px; */
 }


 .swiper {
  width: 100%;
  margin: auto;
  height: 400px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-slide {
  width: 60%;
}

/* .swiper-slide:nth-child(2n) {
  width: 60%;
}

.swiper-slide:nth-child(3n) {
  width: 40%;
} */

 @media (max-width:768px) {
  html{
    font-size: 14px;
  }
  .btn{
    flex: 1 ;
    width: 50%;
    white-space: nowrap;
    border-radius: 4px;
    font-size: 0.9rem;
    padding: 10px 0;
  }
 }