.AllWorks{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  flex-wrap: wrap;
}
.AllWorks .work{
  width: 30%;
  height: 250px;
  position: relative;
 border-radius: 10px;

 overflow: hidden;
}


.AllWorks .img-container{
/* width: 250px; */
flex: 1;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
gap: 10px;
}
.AllWorks .img-container .work{
  width: 100% !important;
  
}

.AllWorks .img-container .work:first-child{
height: 400px;
}
.AllWorks .img-container .work:last-child{
height: 250px;
}

.AllWorks .container-2 .work:first-child{
height: 250px !important;

}
.AllWorks .container-2 .work:last-child{
height: 400px !important;

}
.AllWorks .work img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.AllWorks .work .details{
  /* padding: 10px; */
  background: #fff;
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  width: 100%;
  bottom: -100%;
  left: 0;
  transition: 0.7s;
}
.AllWorks .work:hover > .details{
  bottom: 0;
}
.AllWorks .work .details .icon-container{
  background:var(--main-color) ;
  width: 22%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  cursor: pointer;
  transition: 0.5s;
}
.AllWorks .work .details .icon-container:hover{
  background-color: #fff;
}
.AllWorks .work .details .icon-container:hover > .icon{
  color: var(--main-color);
  animation: move 1s infinite 1s;
}
.AllWorks .work .details .icon-container .icon{
  color: #fff;
  transition: 0.5s;

}
@keyframes move {
  0%{
    transform: translateX(0px);

  }
  50%{
    transform: translateX(5px);

  }
  100%{
    transform: translateX(0px);

  }
}
.AllWorks .work .details .text{
  padding: 30px;

}

.AllWorks .work .details .text p:first-child{
  color: var(--bg-color);
  font-size: 0.9rem;
}
.AllWorks .work .details .text p:last-child{
  color: var(--bg-color);
  font-size: 1rem;
}
@media (max-width : 768px){
  .AllWorks{
    gap: 10px;
  }
.AllWorks .work{
height: auto;
}
.AllWorks .work .details{
height: 60px;
}
.AllWorks .work .details .text{
  
  padding: 5px;
}

.AllWorks .work .details .text p:first-child{
  color: var(--bg-color);
  font-size: 0.6rem;
  white-space: nowrap;
}
.AllWorks .work .details .text p:last-child{
  color: var(--bg-color);
  font-size: 0.7rem;
}
.AllWorks .work .details .icon-container {
padding: 0;
}
.AllWorks .work .details .icon-container .icon{
width: 16px;
height: 16px;
}


.AllWorks .img-container .work:first-child{
  height: 280px;
  }
  .AllWorks .img-container .work:last-child{
  height: 180px;
  }
  
  .AllWorks .container-2 .work:first-child{
  height: 180px !important;
  
  }
  .AllWorks .container-2 .work:last-child{
  height: 280px !important;
  
  }
}